# Git
.git
.gitmodules

# Node
node_modules
**/node_modules

# Builds
dist
**/dist
build
**/build

# Logs
*.log

# Env files
.env
.env.*

# Docker
Dockerfile
docker-compose*.yml

# IDE
.vscode
.idea

# OS
.DS_Store

# Prisma
**/.prisma

# Tests
coverage
