APP_VERSION=1.0.2
# ! Debe cambiarse de acuerdo al entorno de trabajo
STAGE=prod
DATABASE_URL=postgresql://postgres:123456@db-auth:5432/auth_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=g4t3w4y2026
POSTGRES_DB_AUTH=auth_db
POSTGRES_DB_TICKETS=tickets_db

APP_USER_AUTH=auth_user
APP_USER_TICKETS=tickets_user
APP_USER_AUTH_PASSWORD=auth_password_seguro
APP_USER_TICKETS_PASSWORD=tickets_password_seguro
REPLICATION_USER=replicador
REPLICATION_PASSWORD=replica_password_fuerte


PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=123456

NATS_URL=nats://nats-server:4222

API_GATEWAY_PORT=3000
ALLOWED_ORIGINS=http://localhost:5173
TICKETS_SERVICE_PORT=3001
AUTH_SERVICE_PORT=3002

NODE_ENV=development
TZ_APP=America/Mexico_City